<p>The combination of signals intelligence and known indicators of compromise
  from previous attacks has allowed the research team to pinpoint a suspected
  location of the attack. It is believed that the attack originated in an
  office building in Sao Paulo, Brazil.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3656.8748435955995!2d-46.6975864!3d-23.5729381!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5708fadb37b9%3A0xc6c9853f5458b216!2sAv.+das+Na%C3%A7%C3%B5es+Unidas%2C+8501+-+Pinheiros%2C+S%C3%A3o+Paulo+-+SP%2C+05423-110%2C+Brazil!5e0!3m2!1sen!2sus!4v1420481475336" width="600" height="450" frameborder="0" style="border:0"></iframe>
