<p>Some of the Chinese strings even went so far as to taunt the executives
  at Sony Pictures Entertainment. For example, one of the samples that
  exfiltrated unreleased movies from the victim organization contained the
  string "你知道这是不真的吗" which is an expression Chinese people utter whenever
  the Japanese Prime Minister visits the Yasukuni Shrine in Japan (Sony is
  a Japanese company).</p>

<p>The combination of signals intelligence and known indicators of compromise
  from previous attacks has allowed the research team to pinpoint a suspected
  location of the attack. It is believed that the attack originated in the
  Guangshen Business hotel in Shenzhen, a city in the Guangdong province of China.</p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1665.6847923231371!2d114.12708000000003!3d22.54391300000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403f593e59efa87%3A0xf89df58fe6debd17!2sGuangshen+Business+Hotel!5e1!3m2!1sen!2sus!4v1420480554556" width="600" height="450" frameborder="0" style="border:0"></iframe>
