<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sony Hack Attribution Generator</h4>
      </div>
      <div class="modal-body">

        <p>Everybody is talking about the Sony hack of November 2014. Who did it?
          Why did they do it? Each theory more uninformed than the last. You might
          even find yourself asked to provide an expert opinion on the Sony hack.
          Surely you can't admit in public that you don't know anything about how
          the attack was executed or who is behind the whole thing. Do you need
          a quick story you can pull out of your butt to explain the Sony hack
          at a party or job interview?</p>

          <p>Then just fire up this bad boy! Hit refresh on your browser and you'll
            get a new and exciting version of what happened complete with "evidence"
            linking the crime to some random country.</p>

          <p>Check out the <a
          href="https://github.com/blackfist/sonyhack">github repository</a> for
          more information and feel free to send some pull requests if you want
          to spread the blame around.</p>

          <p>The Sony Hack Attribution Generator is brought to you by
          <a href="https://twitter.com/bfist">@bfist</a>,
          <a href="https://twitter.com/hrbrmstr">@hrbrmstr</a>, and
          <a href="https://twitter.com/alexcpsec">@alexcpsec</a>.</p>

      </div>
    </div>
  </div>
</div>
