<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= yield_content :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="icon" type="image/png" href="img/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="img/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="img/mstile-144x144.png">
  <meta name="msapplication-config" content="img/browserconfig.xml">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>


  <meta property="og:title" content="Sony Attribution Generator"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="http://datadrivensecurity.info/img/atrribution.jpg"/>
  <meta property="og:url" content="http://sony.attributed.to/" />
  <meta property="og:description" content="On November 24, 2014, personally identifiable information about Sony Pictures Entertainment (SPE) employees and their dependents, e-mails between employees, information about executive salaries at the company, copies of unreleased Sony films, and other information, was obtained and released by a hacker group going under the moniker 'Guardians of Peace' or 'GOP'." />
  <meta property="og:site_name" content="Sony Attribution Generator" />
  <meta property="og:article:author" content="TLP RED" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ddsecblog">
  <meta name="twitter:title" content="Sony Attribution Generator"/>
  <meta name="twitter:description" content="n November 24, 2014, personally identifiable information about Sony Pictures Entertainment (SPE) employees and their dependents, e-mails between employees, information about executive salaries at the company, copies of unreleased Sony films, and other information, was obtained and released by a hacker group going under the moniker 'Guardians of Peace' or 'GOP'."/>
  <meta name="twitter:creator" content="@ddsecblog">
  <meta name="twitter:image:src" content="http://datadrivensecurity.info/img/attribution.jpg">
  <meta name="twitter:domain" content="datadrivensecurity.info">


</head>

<body>
  <!-- http://www.layoutit.com/ -->
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6 column">
        <h3>TLP: <span class="label label-default">White</span></h3>
      </div>
      <div class="col-md-6 column">
        <h3><button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </button></h3>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">


          <%= yield %>
        <h3>TLP: <span class="label label-default">White</span></h3>
        <p>Subject to standard copyright rules, <span class="label label-default">White</span> information may be distributed freely, without restriction.</p>
      </div>
    </div>
  </div>
</body>
</html>
