This diclosure casts further doubt on the FBI's
assertion that the attack was carried out by state-sponsored actors under
the control of North Korea, a theory that has been all but discredited by a
host of security professionals since the attack became public, including
<%= "#{@doubter['title']} #{@doubter['first']} #{@doubter['last']}" %>.</p>

<blockquote>
  <p>
    <%= "#{@doubter['quote']}" %>
  </p> <small><%= "#{@doubter['first']} #{@doubter['last']}," %> <cite><%= "#{@doubter['title']}" %></cite></small>
</blockquote>
