<% content_for :title do %>
  Page Not Found
<% end %>

<center>
  <h1>Hello,</h1>
  <img alt="Keith Gilbert has no idea why this is funny." src="img/lionel.png" style="width:25%" />
  <p>is it me you're looking 404?</p>

</center>
