This disclosure effectively confirms the FBI's
assertion that the attack was carried out by state-sponsored actors under
the control of North Korea. Since the attack became public a host of information
security professionals, including <%= "#{@supporter['title']} #{@supporter['first']} #{@supporter['last']}" %>
have confirmed the analysis linking the attack to the Democratic People's Republic of Korea.

<blockquote>
  <p>
    <%= "#{@supporter['quote']}" %>
  </p> <small><%= "#{@supporter['first']} #{@supporter['last']}," %> <cite><%= "#{@supporter['title']}" %></cite></small>
</blockquote>
